<<<<<<< HEAD
#click{
    background-color: blue;
    padding: 5px 10px;
    border: 1px solid transparent;
    color: aliceblue;
    transition: 0.4s;
}


#click:hover{
    border: 1px solid transparent;
    background-color: aliceblue;
    color: blue;
=======
h1{
    font-size:2rem;
    background-color:red;
    text-align: center;
    transition: 0.5 ease-in-out;
}
h1:hover{
    transform: scale(1.2);
    background: #000;
    color:red
>>>>>>> feature-css
}